@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.container header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerLeft img{
    width: 49px;
    height: 30px;
    cursor: pointer;
}

.headerRight{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.headerRight a{
    color: #2D2D2D;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-decoration: none;   
}

.headerRight a:hover{
    color: #717171;
}

.container header .menu{
    width: 100%;
    max-width: 25px;
    height: 100%;
    max-height: 23px;
    display: none;
}

.container header .menu img{
    width: 100%;
    max-width: 25px;
    height: 100%;
    max-height: 23px;   
}

.container .banner{
    width: 100%;
    height: 100%;
    max-height: 624px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: center;
}

.container .banner .bannerContent{
    width: 100%;
    max-width: 557px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container .banner .bannerContent .content1{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2D2D2D;
}

.container .banner .bannerContent .content2{
    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    color: #2D2D2D;
}

.container .banner .bannerContent .content3{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
}

.container .banner .bannerImage img{
    width: 100%;
    max-width: 495px;
    height: 100%;
    max-height: 424px;
}

.container .skill{
    width: 100%;
    height: 100%;
    max-height: 688px;    
    padding: 180px 140px;

}

.container .skill img{
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height:130px;
    margin-bottom: 56px;
}

.container .skill .text-center .row{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.container .skill .text-center .align-items-start .col{
    text-align: center;
}

.container .skill h3{
    font-weight: 600;
    font-size: 27px;
    line-height: 42px;
    margin-bottom: 19px;
}

.container .skill p{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.container .latestWork{
    height: 100%;
    max-height: 1016px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.container .latestWork .title{
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

.container .latestWork img{
    width: 100%;
    max-width: 315px;
    height: auto;
    margin-bottom: 25px;
}

.container .latestWork .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .latestWork p{
    text-align: left;
}

.container .latestWork .name p{
    color: #2D2D2D;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.container .latestWork .content p{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.container .latestWork .line-2{
    border-bottom: 1px solid gray;
}

.container .footer{
    display: flex;
    flex-direction: row;
    padding: 70px 100px;
    gap: 190px;
}

.container .footer .contact{
    width:360px;
    height: 100%;
    max-height: 313px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-basis: 100%;
}

.container .footer .contact .title{
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #2D2D2D;
}

.container .footer .contact .content{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.container .footer .contact .platform{
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.container .footer .contact .platform img{
    width: 100%;
    max-width: 36px;
    height: 100%;
    max-height: 36px;
}

.container .footer .contact .platform img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.container .footer .formContact{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 100%;
}

.container .footer .formContact form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .footer .formContact form input{
    background-color: #F3F3F3;
    border: transparent;
    width: 100%;
}

.container .footer .formContact form textarea{
    background-color: #F3F3F3;
    border: transparent;
    width: 100%;
    height: 100%;
}

.container .footer .formContact form #name{
    padding: 21px 30px;
}

.container .footer .formContact form #email{
    padding: 21px 30px;
}

.container .footer .formContact form #message{
    padding: 21px 30px;
}

.container .footer .formContact form ::placeholder{
    color: #2D2D2D;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.container .footer .formContact button{
    padding: 25px 82px;
    background-color: #2D2D2D;
    color: white;
    width: fit-content;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.container .footer .formContact button:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .container .banner {
        padding: 20px;
        text-align: center;
        flex-direction: column;
    }

    .container .banner .bannerContent{
        gap: 20px;
    }

    .container .banner .bannerContent .content2 {
        font-size: 40px;
        line-height: 50px;
    }

    .container .latestWork,
    .container .skill {
        padding: 20px;
    }

    .container .footer {
        flex-direction: column;
        gap: 50px;
        padding: 40px 20px;
    }

    .container .footer .formContact {
        width: 100%;
    }

    .container .footer .contact {
        width: 100%;
        text-align: center;
    }

    .container .footer .contact .platform {
        justify-content: center;
    }
}
